// HTTP | GRPC | GRAPHQL
API=HTTP

TZ=UTC
LOG_LEVEL=info
APP_KEY=d5keitmttWzcYdaaIER2e0AfV9aCgeGf
NODE_ENV=development

HOST=localhost

// PORT for HTTP. It has to be!
PORT=3022
GRPC_PORT=50051

DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=ss_api_pass
DB_DATABASE=ss_api

REDIS_CONNECTION=local
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
